* {
    background-color: hsl(30, 45%, 70%);
}

html {
    scroll-behavior: smooth;
}

#mountains-div {
    background-image: url('media/frogs.jpg'); 
    height: 100vh;
}
@media (max-width: 640px) {
    #mountains-div {
        height: 50vh;
    }
}

#person-div {
    background-image: url('media/person.jpg'); 
    height: 100vh;
}
@media (max-width: 640px) {
    #person-div {
        height: 50vh;
    }
}

.font-cursive {
    font-family: 'Indie Flower', cursive;
}

.full-height-section {
    height: 100vh;
}

